.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-img-top {
    height: 190px;
}

.property-details {
    display: flex;
    align-items: center;
}

.property-details span {
    margin-right:0.5rem;
}

.property-card-button {
    text-decoration: none;
    margin-right: 5%;
}

a:hover {
    cursor:pointer;
   }


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined.fav {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-outlined.fav {
    color: #dd4976;
}

.accordion-button {
    background-color: transparent;
    color: black;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: black;
}